:root{
    --primary-color:#000;
    --secondary-color:#fff;
    --asset-color: rgb(251 146 60);
    --light-color:rgb(229, 229, 229);
}

/*global*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', serif;
}

.container{
    width: 80%;
    margin: auto;
    height: 100%;
}

h1{
    font-size: 42px;
    text-align: center;
    color: var(--secondary-color);
}

h2{
    font-size: 30px;
    text-align: center;
    color: var(--secondary-color);
}

h3{
    font-size: 22px;
    text-align: center;
    color: var(--secondary-color);
}

p{
    font-size: 20px;
    color: var(--secondary-color);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--secondary-color);
    display: inline-block;
}

.inline-block a{
    display: block;
}

.d-none{
    visibility: hidden;
}

.display-none{
    display: none;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.flex-2{
    flex-direction: column;
    justify-content: center;
}

.flex-3{
    align-items: flex-start;
}

.flex-4{
    flex-wrap: wrap;
    gap: 50px;
}

.flex-4 .col{
    flex-basis: 40%;
}

.flex-5 .col{
    width: 100%;
}

.pd-3{
    padding: 10px;
}

i{
    font-size: 20px;
}

.btn, .btnn{
    font-size: 14px;
    border: 1px solid var(--secondary-color);
    padding: 10px 20px;
    border-radius: 50px;
    transition: .5s;
}

.btn:hover{
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.btnn{
    border-color: var(--asset-color);
    margin-right: 50px;
}

/*hero section*/
.hero{
    background-image: url('../images/portfolio-background.jpg');
    min-height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 20px 0;
}

/*About section*/
.about{
    background-color: var(--primary-color);
    padding: 150px 0px;
}
.image img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin-top: 40px;
}

.text{
    padding-right: 100px;
    color: var(--secondary-color);
}

.about h2{
    color: var(--secondary-color);
}

.about p{
    color: #999;
    line-height: 1.6;
    padding-top: 20px;
}

.social-media a{
    transform: scale(1);
    transition: 0.5s;
}

.social-media a:hover{
    transform: scale(1) translateY(-15px);
}

/*skills*/
.skills{
    padding: 100px 0;
}

.skills h2{
    color: var(--primary-color);
    padding-bottom: 30px;
}
.skills h5{
    font-size: 17px;
}

.stats{
    background-color: #cfcbcb;
    border-radius: 50px;
    height: 13px;
}

.stats p{
    width: 50%;
    background-color: var(--asset-color);
    border-radius: 50px;
    height: 13px;
    font-size: 1px;
    padding: 0;
}

p.html{
    width: 99%;
}

p.css{
    width: 98%;
}

p.git{
    width: 95%;
}

p.github{
    width: 95%;
}

p.bootstrap{
    width: 90%;
    z-index: -2;
}

p.javascript{
    width: 60%;
}

.project{
    background-color: #fff;
    color: #000;
    padding-bottom: 50px;
}

h2{
    padding: 30px;
    color: #000;
}

h4{
    text-align: center;
    font-weight: 500;
    padding: 10px 0;
    color: #000
}

p{
    font-size: 15px;
    padding: 10px 10px;
    color: #000;
}

img{
    width: 100%;
    height: 200px;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

div.project-1{
    width: 100%;
    padding: 0 0 5px 0;
    margin: 10px;
    box-shadow: 0 0 5px #000;
}

/*contact*/
.contact-2{
    background-color: var(--primary-color);
    padding: 30px 0;
}

#name, #message, #email{
    width: 100%;
    height: 50px;
    background-color: #222;
    color: var(--secondary-color);
    outline: none;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px 10px;
    font-size: 20px;
}

#message{
    height: 200px;
}

#message::placeholder, #email::placeholder, #name::placeholder{
    color: rgba(225, 255, 255, 0.3);
    background-color: #222;
    font-size: 19px;
}

.form input:focus{
    outline: none;
}

.btnn{
    background-color: transparent;
    color: var(--secondary-color);
    cursor: pointer;
    transition: .5s;
    border: 1px solid var(--asset-color);
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 14px;
}

.btnn:hover, .btn:hover{
    background-color: #fff;
    color: #000;
}

.flex-5 h2{
    color: var(--secondary-color);
    padding: 0;
}

h2 i{
    padding-right: 40px;
}

.col a i{
    padding-right: 20px;
}

.flex .inline-block{
    margin-left: 50px;
}
    
/*footer*/
footer{
    background-color: var(--primary-color);
    text-align: center;
    word-spacing: 5px;
    font-weight: 100;
}

hr{
    height: 1px;
    border: none;
}

footer p{
    color: var(--secondary-color);
}

@media (max-width:1000px){
    #name, #email, #message{
        width: 100%;
    }
}

@media (max-width:900px){

    .flex-3{
        flex-direction: column;
        align-items: center;
    }

    .flex-4 .col{
        flex-basis: 100%;
    }

    .flex-5{
        align-items: flex-start;
        flex-direction: column;
    }

    .display-none{
        display: block;
    }

    .about{
        padding: 150px 0 100px;
    }
    .text{
        padding-right: 0;
    }

    .image img{
        width:350px;
        height: 350px;
        margin-top: 0;
    }

    .image{
        padding-top: 50px;
    }

    .grid{
        grid-template-columns: 1fr 1fr;
    }
}


@media (max-width: 500px) {
.grid{
    grid-template-columns: 1fr;
}
}

#name-error, #email-error, #message-error{
    color: red;
}